@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
table td{
  border-color: red;
}
th{
  padding:15px;
  color: crimson;
  font-weight: 700;
}

td{
  padding:40px;
  color: black;
  font-weight: 700;
}
table tr{
  border-color: red;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
